services:
  - type: web
    name: government-inspection-app-backend
    env: node
    plan: free
    rootDirectory: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: EXPO_PUBLIC_API_URL
        sync: false
